.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgb(252, 161, 161);
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 200px;
  height: 200px;
  border-bottom: 3px solid rgb(215, 24, 129);
  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
